---
export interface Props {
    pageTitle?: string
}


const { pageTitle = 'Home' } = Astro.props as Props
---
<html lang="en">
  <head>
    <title>{pageTitle}</title>
  </head>
  <body>
   <h1>Rome!</h1>
   <nav>
    <ul>
        <li><a href="/one">Click here!</a></li>
        <li><a href="/two">Click here!</a></li>
    </ul>
   </nav>
  </body>
</html>