---
interface Props {
    pageTitle?: string
}

const { pageTitle = 'Two' } = Astro.props as Props
---
<html lang="en">
  <head>
    <title>{pageTitle}</title>
  </head>
  <body>
   <h1>Helsinki!</h1>
    <nav>
    <ul>
        <li><a href="/">Go to home</a></li>
    </ul>
   </nav>
  </body>
</html>